// ***IMPORTANT NOTE***
// Dont change any class name in this file,
// it's will break the flipped card function in logic.js

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100px * 4);
}

.card {
  width: 90px;
  height: 130px;
  cursor: pointer;
  margin: 5px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.flipped-card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #5099c9;
  border-radius: 5px;
  color: white;
}

.card-front {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  color: black;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 70px;
  // height: 70%;
  // background-size: cover;
  // background-position: center;
}
